form{
    width: 40%;
    padding: 3%;
    border-radius: 6px;
    margin: auto;
    background-color: rgb(105, 96, 219);
    
    
}
div{
    display:flex;
    flex-direction: column;
}
label{
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: underline;
}
input{
    margin-bottom: 12px;
    border-radius: 5px;
    border: solid paleturquoise;
}
.login{
    border: 3px solid black;
      
}
h3{
    text-decoration: underline;
}